<li>
    <div class = "item">
    <span class="info"> <h4>{{name}} ${{price}}</h4> </span>
    
    <button class="change-devoured btn btn-primary btn-sm" data-id="{{id}}" data-newdevoured="{{devoured}}">Change Devoured </button>

    <button class="delete-burger btn btn-danger btn-sm" data-id="{{this.id}}">Delete burger</button>

</div>

</li>